*
{
  box-sizing: border-box;
}
html, body
{
    height: 100vh;
    background-color: #3498db;
    font-family: 'Open Sans', sans-serif;

    margin: 0;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    overflow: hidden;
}
#wrapper
{
  height: 100%;
  display: grid;
  grid-template-rows: 4rem 1fr 2rem;
  grid-template-columns: 1fr;
  grid-template-areas:
  "search"
  "map"
  "credits";
}
.hidden
{
    display: none !important;
}
#search
{
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 4rem;
  grid-area: search;
}
#searchBar
{
    border: none;
    padding: 10px 15px;
    align-self: center;
    height: 3rem;
    font: small-caption;
    font-size: 1.4rem;
    width: 100%;
    color: #34495e;
    outline: none;
    line-height: 1.5;
    border-radius: 0.4rem;
}
#save
{
  display: flex;
  width: 3rem;
  height: 3rem;
  align-self: center;
  justify-self: center;
  justify-content: center;
  align-items: center;
}
#mapid
{
  grid-area: map;
  height: 100%;
}
#credits
{
  margin: 0;
  font-size: 0.8rem;
  grid-area: credits;
}
@media only screen and (min-width: 600px)
{
  #wrapper
  {
    grid-template-rows: 4rem 1fr 1.5rem;
  }
}
.station_name
{
    font-size: 1rem;
    text-align: center;
    background-color: blueviolet;
    color: white;
}
.station_delay
{
    height: 10rem;
    overflow-y: scroll;
    overflow-x: hidden; 
    text-align: center;
    display: grid;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: 1fr 1fr 1fr;
    color: white;
}
.station_delay>div
{
    border: 1px solid black;
}
.station_icon_inner
{
    background-color: white;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: 0.2rem solid black;
}
.red
{
    background-color: red;
}
.orange
{
    background-color: orange;
    color: black;
}
.yellow
{
    background-color: yellow;
    color: black;
}
.green
{
    background-color: green;
}
.blue
{
    background-color: blue;
}

/*Spinner*/

#loading
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    align-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);

}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 27px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 6px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 6px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 26px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 45px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(19px, 0);
    }
  }
  